<configuration>
    <!--GCP環境の設定-->
    <springProfile name="!local">
        <include resource="org/springframework/cloud/gcp/autoconfigure/logging/logback-json-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
</configuration>
